In [1]:
import pandas as pd
import numpy as np
import requests
import json 
from functools import reduce

In [2]:
AppToken = 'cMHq4RjbgUnfKC9GpsaAYDChM'
base = 'https://data.cdc.gov/resource/29hc-w46k.json?'
base_url = f"{base}$$app_token={AppToken}"
state_df = pd.read_csv("Resources/US_States_clean.csv", encoding="utf-8")
state_index = [ x for x in state_df['State'] ]
api_states = []
data_list = []
year_index = [  '2018-2019' , '2019-2020' , '2020-2021' , '2021-2022' , '2022-2023' , '2023-2024']

In [17]:
for state in state_index:
    params =  { 
            "age_category":"Overall",
            "mmwr_week":"Overall",
            "race":"Overall",
            "state": state,
            "sex": "Overall"
            }
    response = requests.get(base_url, params).json()
    if len(response) > 0:
        api_states.append(state)
        
api_states
#    print(json.dumps(response, indent=4, sort_keys=True))

['California',
 'Colorado',
 'Connecticut',
 'Georgia',
 'Maryland',
 'Michigan',
 'Minnesota',
 'New Mexico',
 'New York',
 'Oregon',
 'Tennessee',
 'Utah']

In [5]:
df = pd.DataFrame() 
df['state'] = ""
df['season'] = ""
df['mmwr_week'] = ""
df['age_category'] = ""
df['sex'] = ""
df['race'] = ""
df['rate'] = ""
df['cumulative_rate'] = ""
df['week_ending_date'] = ""

loop_df = pd.DataFrame( columns=['state','season','mmwr_week','age_category','sex','race','rate','cumulative_rate','week_ending_date'])

pandas.core.frame.DataFrame

In [35]:
### DONT RUN 
for j in api_states:
    params =  {
    "state": j
    }
        
    response = requests.get(base_url, params).json()
    for x in response:
        newindex = np.arange(0,len(response))
        loop_df = pd.DataFrame(x, index=[0])
        data_list.append(loop_df)
data_merge = reduce(lambda left, right:
                    pd.merge(left, right,
                             how='outer'), 
                    data_list)
print(data_merge)
### DONT RUN

            state     season mmwr_week age_category      sex  \
0      California  2016-2017   Overall      Overall  Overall
1      California  2017-2018   Overall      Overall  Overall
2      California  2018-2019   Overall      Overall  Overall
3      California  2019-2020   Overall      Overall  Overall
4      California  2020-2021   Overall      Overall  Overall
...           ...        ...       ...          ...      ...
11995        Utah  2019-2020   Overall  50-64 years   Female
11996        Utah  2019-2020   Overall  50-64 years   Female
11997        Utah  2019-2020   Overall  50-64 years     Male
11998        Utah  2019-2020   Overall  50-64 years     Male
11999        Utah  2019-2020   Overall  50-64 years     Male

                      race  rate
0                  Overall  13.7
1                  Overall  16.7
2                  Overall    25
3                  Overall  23.1
4                  Overall   1.3
...                    ...   ...
11995             Hispanic   7.7
11996  White, non-Hispanic   8.7
11997   A/PI, non-Hispanic     0
11998  AI/AN, non-Hispanic     0
11999  Black, non-Hispanic     0

[12000 rows x 7 columns]

In [56]:
data_merge1 = data_merge[data_merge['age_category'] != 'Overall']
data_merge2 = data_merge1[data_merge1['sex'] != 'Overall']
data_merge3 = data_merge2[data_merge2['race'] != 'Overall']
newindex = np.arange(0, len(data_merge3))
data_merge3 = data_merge3.set_index(newindex)

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2016-2017,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2016-2017,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2016-2017,Overall,----18-29 years,Female,"Black, non-Hispanic",6.4
3,California,2016-2017,Overall,----18-29 years,Female,Hispanic,0
4,California,2016-2017,Overall,----18-29 years,Female,"White, non-Hispanic",0
...,...,...,...,...,...,...,...
2911,Tennessee,2016-2017,Overall,75+ yr,Female,"White, non-Hispanic",35
2912,Tennessee,2016-2017,Overall,75+ yr,Male,"A/PI, non-Hispanic",0
2913,Tennessee,2016-2017,Overall,75+ yr,Male,"Black, non-Hispanic",0
2914,Tennessee,2016-2017,Overall,75+ yr,Male,Hispanic,191.2
2915,Tennessee,2016-2017,Overall,75+ yr,Male,"White, non-Hispanic",24.3

In [118]:
yr1617 = data_merge3[data_merge3['season'] == '2016-2017']
yr1718 = data_merge3[data_merge3['season'] == '2017-2018']
yr1819 = data_merge3[data_merge3['season'] == '2018-2019']
yr1920 = data_merge3[data_merge3['season'] == '2019-2020']

In [119]:
yr1617 = yr1617[yr1617['age_category'] != '18+ (Adults)']
yr1617 = yr1617[yr1617['age_category'] != '18-49 years']
yr1617 = yr1617[yr1617['age_category'] != '50-64 years']
yr1617 = yr1617[yr1617['age_category'] != '65+ years']
yr1617 = yr1617[yr1617['age_category'] != '75+ yr']
newindex = np.arange(0 , len(yr1617))
yr1617 = yr1617.set_index(newindex)

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2016-2017,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2016-2017,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2016-2017,Overall,----18-29 years,Female,"Black, non-Hispanic",6.4
3,California,2016-2017,Overall,----18-29 years,Female,Hispanic,0
4,California,2016-2017,Overall,----18-29 years,Female,"White, non-Hispanic",0
...,...,...,...,...,...,...,...
415,Tennessee,2016-2017,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
416,Tennessee,2016-2017,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
417,Tennessee,2016-2017,Overall,----85+ years,Male,"Black, non-Hispanic",0
418,Tennessee,2016-2017,Overall,----85+ years,Male,Hispanic,699.3
419,Tennessee,2016-2017,Overall,----85+ years,Male,"White, non-Hispanic",14.6

In [120]:
range_yr1617 = np.arange(0, len(yr1617))
for x in range_yr1617:
    yr1617.loc[x, 'season'] = '2017'

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2017,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2017,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2017,Overall,----18-29 years,Female,"Black, non-Hispanic",6.4
3,California,2017,Overall,----18-29 years,Female,Hispanic,0
4,California,2017,Overall,----18-29 years,Female,"White, non-Hispanic",0
...,...,...,...,...,...,...,...
415,Tennessee,2017,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
416,Tennessee,2017,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
417,Tennessee,2017,Overall,----85+ years,Male,"Black, non-Hispanic",0
418,Tennessee,2017,Overall,----85+ years,Male,Hispanic,699.3
419,Tennessee,2017,Overall,----85+ years,Male,"White, non-Hispanic",14.6

In [123]:
yr1718 = yr1718[yr1718['age_category'] != '18+ (Adults)']
yr1718 = yr1718[yr1718['age_category'] != '18-49 years']
yr1718 = yr1718[yr1718['age_category'] != '50-64 years']
yr1718 = yr1718[yr1718['age_category'] != '65+ years']
yr1718 = yr1718[yr1718['age_category'] != '75+ yr']
newindex = np.arange(0 , len(yr1718))
yr1718 = yr1718.set_index(newindex)

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2017-2018,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2017-2018,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2017-2018,Overall,----18-29 years,Female,"Black, non-Hispanic",6.5
3,California,2017-2018,Overall,----18-29 years,Female,Hispanic,3.9
4,California,2017-2018,Overall,----18-29 years,Female,"White, non-Hispanic",2
...,...,...,...,...,...,...,...
475,Tennessee,2017-2018,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
476,Tennessee,2017-2018,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
477,Tennessee,2017-2018,Overall,----85+ years,Male,"Black, non-Hispanic",151.7
478,Tennessee,2017-2018,Overall,----85+ years,Male,Hispanic,0
479,Tennessee,2017-2018,Overall,----85+ years,Male,"White, non-Hispanic",155

In [125]:
range_yr1718 = np.arange(0, len(yr1718))
for x in range_yr1718:
    yr1718.loc[x, 'season'] = '2018'

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2018,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2018,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2018,Overall,----18-29 years,Female,"Black, non-Hispanic",6.5
3,California,2018,Overall,----18-29 years,Female,Hispanic,3.9
4,California,2018,Overall,----18-29 years,Female,"White, non-Hispanic",2
...,...,...,...,...,...,...,...
475,Tennessee,2018,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
476,Tennessee,2018,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
477,Tennessee,2018,Overall,----85+ years,Male,"Black, non-Hispanic",151.7
478,Tennessee,2018,Overall,----85+ years,Male,Hispanic,0
479,Tennessee,2018,Overall,----85+ years,Male,"White, non-Hispanic",155

In [122]:
yr1819 = yr1819[yr1819['age_category'] != '0-17 (Children)']
yr1819 = yr1819[yr1819['age_category'] != '0-4 years']
yr1819 = yr1819[yr1819['age_category'] != '0-<1 yr']
yr1819 = yr1819[yr1819['age_category'] != '5-17 years']
yr1819 = yr1819[yr1819['age_category'] != '1-4 yr']
yr1819 = yr1819[yr1819['age_category'] != '18+ (Adults)']
yr1819 = yr1819[yr1819['age_category'] != '18-49 years']
yr1819 = yr1819[yr1819['age_category'] != '50-64 years']
yr1819 = yr1819[yr1819['age_category'] != '65+ years']
yr1819 = yr1819[yr1819['age_category'] != '75+ yr']
newindex = np.arange(0 , len(yr1819))
yr1819 = yr1819.set_index(newindex)

,state,season,mmwr_week,age_category,sex,race,rate
0,Colorado,2018-2019,Overall,----0-<6 months,Female,"A/PI, non-Hispanic",1283.7
1,Colorado,2018-2019,Overall,----0-<6 months,Female,"AI/AN, non-Hispanic",0
2,Colorado,2018-2019,Overall,----0-<6 months,Female,"Black, non-Hispanic",913.2
3,Colorado,2018-2019,Overall,----0-<6 months,Female,Hispanic,650
4,Colorado,2018-2019,Overall,----0-<6 months,Female,"White, non-Hispanic",623.3
...,...,...,...,...,...,...,...
595,Utah,2018-2019,Overall,----85+ years,Male,"A/PI, non-Hispanic",460.8
596,Utah,2018-2019,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
597,Utah,2018-2019,Overall,----85+ years,Male,"Black, non-Hispanic",0
598,Utah,2018-2019,Overall,----85+ years,Male,Hispanic,0
599,Utah,2018-2019,Overall,----85+ years,Male,"White, non-Hispanic",105.5

In [127]:
range_yr1819 = np.arange(0, len(yr1819))
for x in range_yr1819:
    yr1819.loc[x, 'season'] = '2019'

,state,season,mmwr_week,age_category,sex,race,rate
0,Colorado,2019,Overall,----0-<6 months,Female,"A/PI, non-Hispanic",1283.7
1,Colorado,2019,Overall,----0-<6 months,Female,"AI/AN, non-Hispanic",0
2,Colorado,2019,Overall,----0-<6 months,Female,"Black, non-Hispanic",913.2
3,Colorado,2019,Overall,----0-<6 months,Female,Hispanic,650
4,Colorado,2019,Overall,----0-<6 months,Female,"White, non-Hispanic",623.3
...,...,...,...,...,...,...,...
595,Utah,2019,Overall,----85+ years,Male,"A/PI, non-Hispanic",460.8
596,Utah,2019,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
597,Utah,2019,Overall,----85+ years,Male,"Black, non-Hispanic",0
598,Utah,2019,Overall,----85+ years,Male,Hispanic,0
599,Utah,2019,Overall,----85+ years,Male,"White, non-Hispanic",105.5

In [136]:
yr1920 = yr1920[yr1920['age_category'] != '0-17 (Children)']
yr1920 = yr1920[yr1920['age_category'] != '0-4 years']
yr1920 = yr1920[yr1920['age_category'] != '0-<1 yr']
yr1920 = yr1920[yr1920['age_category'] != '5-17 years']
yr1920 = yr1920[yr1920['age_category'] != '1-4 yr']
yr1920 = yr1920[yr1920['age_category'] != '18+ (Adults)']
yr1920 = yr1920[yr1920['age_category'] != '18-49 years']
yr1920 = yr1920[yr1920['age_category'] != '50-64 years']
yr1920 = yr1920[yr1920['age_category'] != '65+ years']
yr1920 = yr1920[yr1920['age_category'] != '75+ yr']
newindex = np.arange(0 , len(yr1920))
yr1920 = yr1920.set_index(newindex)

,state,season,mmwr_week,age_category,sex,race,rate
0,Colorado,2019,Overall,----0-<6 months,Female,"A/PI, non-Hispanic",225.2
1,Colorado,2019,Overall,----0-<6 months,Female,"AI/AN, non-Hispanic",0
2,Colorado,2019,Overall,----0-<6 months,Female,"Black, non-Hispanic",717.5
3,Colorado,2019,Overall,----0-<6 months,Female,Hispanic,1290.8
4,Colorado,2019,Overall,----0-<6 months,Female,"White, non-Hispanic",960.2
...,...,...,...,...,...,...,...
475,Utah,2019,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
476,Utah,2019,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
477,Utah,2019,Overall,----85+ years,Male,"Black, non-Hispanic",0
478,Utah,2019,Overall,----85+ years,Male,Hispanic,0
479,Utah,2019,Overall,----85+ years,Male,"White, non-Hispanic",0

In [137]:
range_yr1920 = np.arange(0, len(yr1920))
for x in range_yr1920:
    yr1920.loc[x, 'season'] = '2020'

,state,season,mmwr_week,age_category,sex,race,rate
0,Colorado,2020,Overall,----0-<6 months,Female,"A/PI, non-Hispanic",225.2
1,Colorado,2020,Overall,----0-<6 months,Female,"AI/AN, non-Hispanic",0
2,Colorado,2020,Overall,----0-<6 months,Female,"Black, non-Hispanic",717.5
3,Colorado,2020,Overall,----0-<6 months,Female,Hispanic,1290.8
4,Colorado,2020,Overall,----0-<6 months,Female,"White, non-Hispanic",960.2
...,...,...,...,...,...,...,...
475,Utah,2020,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
476,Utah,2020,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
477,Utah,2020,Overall,----85+ years,Male,"Black, non-Hispanic",0
478,Utah,2020,Overall,----85+ years,Male,Hispanic,0
479,Utah,2020,Overall,----85+ years,Male,"White, non-Hispanic",0

In [138]:
final_test = pd.merge(yr1617, yr1718,  how='outer')
final_test = pd.merge(final_test, yr1819,  how='outer')
final_test = pd.merge(final_test, yr1920,  how='outer')

,state,season,mmwr_week,age_category,sex,race,rate
0,California,2017,Overall,----18-29 years,Female,"A/PI, non-Hispanic",1.1
1,California,2017,Overall,----18-29 years,Female,"AI/AN, non-Hispanic",0
2,California,2017,Overall,----18-29 years,Female,"Black, non-Hispanic",6.4
3,California,2017,Overall,----18-29 years,Female,Hispanic,0
4,California,2017,Overall,----18-29 years,Female,"White, non-Hispanic",0
...,...,...,...,...,...,...,...
1975,Utah,2020,Overall,----85+ years,Male,"A/PI, non-Hispanic",0
1976,Utah,2020,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0
1977,Utah,2020,Overall,----85+ years,Male,"Black, non-Hispanic",0
1978,Utah,2020,Overall,----85+ years,Male,Hispanic,0
1979,Utah,2020,Overall,----85+ years,Male,"White, non-Hispanic",0

In [149]:
range_all = np.arange(0, len(final_test))
for x in range_all:
    if final_test.loc[x, 'state'] == 'Connecticut':
        final_test.loc[x, 'HHS_region'] = 1
    elif final_test.loc[x, 'state'] == 'New York':
        final_test.loc[x, 'HHS_region'] = 2
    elif final_test.loc[x, 'state'] == 'Maryland':
        final_test.loc[x, 'HHS_region'] = 3
    elif (final_test.loc[x, 'state'] == 'Georgia') or (final_test.loc[x, 'state'] == 'Tennessee'):
        final_test.loc[x, 'HHS_region'] = 4
    elif (final_test.loc[x, 'state'] == 'Michigan') or (final_test.loc[x, 'state'] == 'Minnesota'):
        final_test.loc[x, 'HHS_region'] = 5
    elif final_test.loc[x, 'state'] == 'New Mexico':
        final_test.loc[x, 'HHS_region'] = 6
    elif (final_test.loc[x, 'state'] == 'Colorado') or (final_test.loc[x, 'state'] == 'Utah'):
        final_test.loc[x, 'HHS_region'] = 8
    elif final_test.loc[x, 'state'] == 'California':
        final_test.loc[x, 'HHS_region'] = 9
    elif final_test.loc[x, 'state'] == 'Oregon':
        final_test.loc[x, 'HHS_region'] = 10

,state,season,mmwr_week,age_category,sex,race,rate,HHS_region
1020,Connecticut,2019,Overall,----0-<6 months,Female,"A/PI, non-Hispanic",0,1
1021,Connecticut,2019,Overall,----0-<6 months,Female,"AI/AN, non-Hispanic",0,1
1022,Connecticut,2019,Overall,----0-<6 months,Female,"Black, non-Hispanic",1517.5,1
1023,Connecticut,2019,Overall,----0-<6 months,Female,Hispanic,1487,1
1024,Connecticut,2019,Overall,----0-<6 months,Female,"White, non-Hispanic",1227.6,1
...,...,...,...,...,...,...,...,...
1735,Connecticut,2020,Overall,----85+ years,Male,"A/PI, non-Hispanic",704.2,1
1736,Connecticut,2020,Overall,----85+ years,Male,"AI/AN, non-Hispanic",0,1
1737,Connecticut,2020,Overall,----85+ years,Male,"Black, non-Hispanic",0,1
1738,Connecticut,2020,Overall,----85+ years,Male,Hispanic,259.7,1
1739,Connecticut,2020,Overall,----85+ years,Male,"White, non-Hispanic",217.2,1

In [156]:
hsptl_rsv_data = final_test.copy()
hsptl_rsv_data.to_csv('output_data/clean_hospital_data.csv')