In [1]:
import pandas as pd

In [2]:
#RSV data CSV path
file_path = "Resources/Respiratory_Syncytial_Virus_Laboratory_Data__NREVSS_.csv"

In [3]:
#putting CSV into a DF to break down
RSV_df = pd.read_csv(file_path)
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier
0,Antigen,1011,1027,10JUL2010,1,0,105,0
1,Antigen,1011,1028,17JUL2010,1,0,116,0
2,Antigen,1011,1029,24JUL2010,1,0,84,0
3,Antigen,1011,1030,31JUL2010,1,0,86,0
4,Antigen,1011,1031,07AUG2010,1,0,88,0

In [4]:
RSV_df.columns

Index(['Diagnostic Test Type ', 'Surveillance Year', 'Week ending Code ',
       'Week ending Date', 'HHS region ', 'RSV Detections', 'RSV Tests',
       'Outlier'],
      dtype='object')

In [5]:
RSV_df["Week ending Date"]=pd.to_datetime(RSV_df["Week ending Date"], format="%d%b%Y")
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier
0,Antigen,1011,1027,2010-07-10,1,0,105,0
1,Antigen,1011,1028,2010-07-17,1,0,116,0
2,Antigen,1011,1029,2010-07-24,1,0,84,0
3,Antigen,1011,1030,2010-07-31,1,0,86,0
4,Antigen,1011,1031,2010-08-07,1,0,88,0

In [6]:
RSV_df = RSV_df.rename(columns = {"HHS region ":"HHS region"})
RSV_df.columns

Index(['Diagnostic Test Type ', 'Surveillance Year', 'Week ending Code ',
       'Week ending Date', 'HHS region', 'RSV Detections', 'RSV Tests',
       'Outlier'],
      dtype='object')

In [7]:
#break off year and month
RSV_df['Year'] = RSV_df['Week ending Date'].dt.year
RSV_df['Month'] = RSV_df['Week ending Date'].dt.month
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier,Year,Month
0,Antigen,1011,1027,2010-07-10,1,0,105,0,2010,7
1,Antigen,1011,1028,2010-07-17,1,0,116,0,2010,7
2,Antigen,1011,1029,2010-07-24,1,0,84,0,2010,7
3,Antigen,1011,1030,2010-07-31,1,0,86,0,2010,7
4,Antigen,1011,1031,2010-08-07,1,0,88,0,2010,8

In [8]:
RSV_df = RSV_df[["Year", "Month", "HHS region", "RSV Detections", "RSV Tests"]]
RSV_df.head()

   Year  Month  HHS region  RSV Detections  RSV Tests
0  2010      7           1               0        105
1  2010      7           1               0        116
2  2010      7           1               0         84
3  2010      7           1               0         86
4  2010      8           1               0         88

In [9]:
#removing unwanted years
RSV_df = RSV_df.loc[RSV_df["Year"] >= 2016]
RSV_df

       Year  Month  HHS region  RSV Detections  RSV Tests
2626   2016      1           1              65        430
2627   2016      1           1              55        453
2628   2016      1           1              53        441
2629   2016      1           1              98        480
2630   2016      1           1              96        520
...     ...    ...         ...             ...        ...
10308  2020      5           9               2        330
10309  2020      6           9               0        361
10310  2020      6           9               0        363
10311  2020      6           9               1        244
10312  2020      6           9               0        251

[4593 rows x 5 columns]

In [10]:
RSV_df["% positive tests"] = 100 * RSV_df["RSV Detections"]/RSV_df["RSV Tests"]

In [11]:
#RSV_df = RSV_df.groupby('Year', 'Month')

#RSV_df.groupby("Year", "Month")
#RSV_df

In [12]:
#breaking into different dfs by region number
region_1_rsv_df = RSV_df.loc[RSV_df["HHS region"]==1]
region_1_rsv_df

      Year  Month  HHS region  RSV Detections  RSV Tests  % positive tests
2626  2016      1           1              65        430         15.116279
2627  2016      1           1              55        453         12.141280
2628  2016      1           1              53        441         12.018141
2629  2016      1           1              98        480         20.416667
2630  2016      1           1              96        520         18.461538
...    ...    ...         ...             ...        ...               ...
9840  2020      5           1               0        232          0.000000
9841  2020      6           1               0        221          0.000000
9842  2020      6           1               0        166          0.000000
9843  2020      6           1               0        160          0.000000
9844  2020      6           1               0        147          0.000000

[470 rows x 6 columns]

In [13]:
#now all the others since that worked
region_2_rsv_df = RSV_df.loc[RSV_df["HHS region"]==2]
region_3_rsv_df = RSV_df.loc[RSV_df["HHS region"]==3]
region_4_rsv_df = RSV_df.loc[RSV_df["HHS region"]==4]
region_5_rsv_df = RSV_df.loc[RSV_df["HHS region"]==5]
region_6_rsv_df = RSV_df.loc[RSV_df["HHS region"]==6]
#CDC doesnt have anything for region 7?????
region_7_rsv_df = RSV_df.loc[RSV_df["HHS region"]==7]
region_8_rsv_df = RSV_df.loc[RSV_df["HHS region"]==8]
region_9_rsv_df = RSV_df.loc[RSV_df["HHS region"]==9]
region_10_rsv_df = RSV_df.loc[RSV_df["HHS region"]==10]

In [13]:
region_3_rsv_df

       Year  Month  HHS region  RSV Detections  RSV Tests  % positive tests
2785   2016      1           3             131        488         26.844262
2786   2016      1           3             106        479         22.129436
2787   2016      1           3              90        401         22.443890
2788   2016      1           3              78        361         21.606648
2789   2016      1           3              61        325         18.769231
...     ...    ...         ...             ...        ...               ...
9996   2020      5           3               1        308          0.324675
9997   2020      6           3               1        314          0.318471
9998   2020      6           3               0        343          0.000000
9999   2020      6           3               1        275          0.363636
10000  2020      6           3               2        296          0.675676

[470 rows x 6 columns]