In [1]:
import pandas as pd

In [2]:
#RSV data csv
file_path = "Resources/Respiratory_Syncytial_Virus_Laboratory_Data__NREVSS_.csv"

In [3]:
#putting CSV into a DF to break down
RSV_df = pd.read_csv(file_path)
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier
0,Antigen,1011,1027,10JUL2010,1,0,105,0
1,Antigen,1011,1028,17JUL2010,1,0,116,0
2,Antigen,1011,1029,24JUL2010,1,0,84,0
3,Antigen,1011,1030,31JUL2010,1,0,86,0
4,Antigen,1011,1031,07AUG2010,1,0,88,0

In [4]:
RSV_df["Week ending Date"]=pd.to_datetime(RSV_df["Week ending Date"], format="%d%b%Y")
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier
0,Antigen,1011,1027,2010-07-10,1,0,105,0
1,Antigen,1011,1028,2010-07-17,1,0,116,0
2,Antigen,1011,1029,2010-07-24,1,0,84,0
3,Antigen,1011,1030,2010-07-31,1,0,86,0
4,Antigen,1011,1031,2010-08-07,1,0,88,0

In [5]:
RSV_df = RSV_df.rename(columns = {"HHS region ":"HHS region"})
RSV_df.columns

Index(['Diagnostic Test Type ', 'Surveillance Year', 'Week ending Code ',
       'Week ending Date', 'HHS region', 'RSV Detections', 'RSV Tests',
       'Outlier'],
      dtype='object')

In [6]:
#break off year and month
RSV_df['Year'] = RSV_df['Week ending Date'].dt.year
RSV_df['Month'] = RSV_df['Week ending Date'].dt.month
RSV_df.head()

,Diagnostic Test Type,Surveillance Year,Week ending Code,Week ending Date,HHS region,RSV Detections,RSV Tests,Outlier,Year,Month
0,Antigen,1011,1027,2010-07-10,1,0,105,0,2010,7
1,Antigen,1011,1028,2010-07-17,1,0,116,0,2010,7
2,Antigen,1011,1029,2010-07-24,1,0,84,0,2010,7
3,Antigen,1011,1030,2010-07-31,1,0,86,0,2010,7
4,Antigen,1011,1031,2010-08-07,1,0,88,0,2010,8

In [7]:
RSV_df = RSV_df[["Year", "Month", "HHS region", "RSV Detections", "RSV Tests"]]
RSV_df.head()

   Year  Month  HHS region  RSV Detections  RSV Tests
0  2010      7           1               0        105
1  2010      7           1               0        116
2  2010      7           1               0         84
3  2010      7           1               0         86
4  2010      8           1               0         88

In [8]:
#removing unwanted years
RSV_df = RSV_df.loc[RSV_df["Year"] >= 2016]
RSV_df

       Year  Month  HHS region  RSV Detections  RSV Tests
2626   2016      1           1              65        430
2627   2016      1           1              55        453
2628   2016      1           1              53        441
2629   2016      1           1              98        480
2630   2016      1           1              96        520
...     ...    ...         ...             ...        ...
10308  2020      5           9               2        330
10309  2020      6           9               0        361
10310  2020      6           9               0        363
10311  2020      6           9               1        244
10312  2020      6           9               0        251

[4593 rows x 5 columns]

In [ ]:
RSV_df["% positive tests"] = 100 * RSV_df["RSV Detections"]/RSV_df["RSV Tests"]

In [11]:
year_2016_rsv_data_df = RSV_df.loc[RSV_df["Year"]==2016]
year_2016_rsv_data_df

      Year  Month  HHS region  RSV Detections  RSV Tests
2626  2016      1           1              65        430
2627  2016      1           1              55        453
2628  2016      1           1              53        441
2629  2016      1           1              98        480
2630  2016      1           1              96        520
...    ...    ...         ...             ...        ...
8722  2016     12           9             240       2571
8723  2016     12           9             319       2688
8724  2016     12           9             445       3133
8725  2016     12           9             643       3771
8726  2016     12           9             859       4843

[1060 rows x 5 columns]

In [12]:
year_2017_rsv_data_df = RSV_df.loc[RSV_df["Year"]==2017]
year_2017_rsv_data_df

      Year  Month  HHS region  RSV Detections  RSV Tests
3156  2017      1           1              64        612
3157  2017      1           1              49        540
3158  2017      1           1              60        568
3159  2017      1           1              77        695
3160  2017      2           1              49        675
...    ...    ...         ...             ...        ...
9242  2017     12           9             135       2539
9243  2017     12           9             189       2568
9244  2017     12           9             236       2944
9245  2017     12           9             362       4140
9246  2017     12           9             483       5488

[1040 rows x 5 columns]

In [13]:
year_2018_rsv_data_df = RSV_df.loc[RSV_df["Year"]==2018]
year_2018_rsv_data_df

      Year  Month  HHS region  RSV Detections  RSV Tests
3676  2018      1           1              19        120
3677  2018      1           1              14        118
3678  2018      1           1              20        165
3679  2018      1           1              25        209
3680  2018      2           1              27        243
...    ...    ...         ...             ...        ...
9762  2018     12           9              80       2138
9763  2018     12           9             102       2202
9764  2018     12           9             167       2627
9765  2018     12           9             210       3037
9766  2018     12           9             256       2974

[1011 rows x 5 columns]

In [14]:
year_2019_rsv_data_df = RSV_df.loc[RSV_df["Year"]==2019]
year_2019_rsv_data_df

       Year  Month  HHS region  RSV Detections  RSV Tests
4193   2019      1           1              40        268
4194   2019      1           1              36        270
4195   2019      1           1              35        259
4196   2019      1           1              21        255
4197   2019      2           1              23        290
...     ...    ...         ...             ...        ...
10282  2019     11           9             141       2660
10283  2019     12           9             222       3306
10284  2019     12           9             316       3584
10285  2019     12           9             425       3639
10286  2019     12           9             522       3720

[988 rows x 5 columns]

In [15]:
year_2020_rsv_data_df = RSV_df.loc[RSV_df["Year"]==2020]
year_2020_rsv_data_df

       Year  Month  HHS region  RSV Detections  RSV Tests
4661   2020      1           1               3         24
4662   2020      1           1               2         53
4663   2020      1           1               3         86
4664   2020      1           1               4         79
4665   2020      2           1               3         89
...     ...    ...         ...             ...        ...
10308  2020      5           9               2        330
10309  2020      6           9               0        361
10310  2020      6           9               0        363
10311  2020      6           9               1        244
10312  2020      6           9               0        251

[494 rows x 5 columns]